* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:not(i) {
    font-family: "Poppins", sans-serif;
}
body {
    width: 100%;
    height: 100%;
    background-color: #ae9cff;
    margin: 0;
    padding: 0;
    background: url(./dict.jpg);
    background-size: cover;
    color: #0d0d0d;
}
.container {
    background-color: transparent;
    width: 90%;
    max-width: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}
.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search-box input {
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 3px solid #deba81ff;
    background-color: transparent;
    font-size: 16px;
    margin-bottom: 20px;
    color: #0d0d0d;
}

.search-box input::placeholder{
    color: #0d0d0d;
}
.search-box button {
    padding: 15px;
    width: 100%;
    background-color: #49494a48;
    border: none;
    outline: none;
    color: #0d0d0d;
    border-radius: 5px;
    font-size: 16px;
}
.result {
    position: relative;
}
.result h3 {
    font-size: 24px;
    color: #1f194c;
    text-align: center;
}
.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
    text-align: center;
}
.result button {
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 16px;
}
.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: center;
}
.word-meaning {
    color: #575a7b;
    text-align: center;
}
.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 20px;
}
.error {
    margin-top: 40px;
    text-align: center;
}

/* Responsive Design */
@media screen and (min-width: 600px) {
    .search-box input {
        width: 70%;
        margin-bottom: 0;
    }
    .search-box button {
        width: 25%;
    }
    .result h3 {
        font-size: 30px;
    }
    .container {
        padding: 80px 50px;
    }
}
